.bd {
  width: 20px;
  height: 250px;
  background-color: blue;
}
.wrapper div {
position: absolute;
}
.ax {
  width: 125px;
  height: 20px;
}

.ac {
  width: 250px;
  height: 20px;
}
.wrapper {
  margin-top: 50px;
  margin: auto;
  width: 400px;
  height: 400px;
  background-color: grey;
  position: relative;
}
.a {
  top: 90px;
  left: 70px;
  background-color: yellow;
  z-index: 4;
}
.b {
  left: 280px;
  top: 70px;
  background-color: indigo;
  z-index: 2;
}
.c {
  top: 280px;
  left: 70px;
  background-color: aquamarine;
  z-index: 3;
}
.d {
  top: 70px;
  left: 90px;
  background-color: brown;
  z-index: 1;
}
.x {
  top: 90px;
  left: 195px;
  background-color: yellow;
}
